.box {
  width: 230px;
  height: 230px;
  background-color: #F4F4F4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plant-box {
  width: 180px;
  height: 35px;
  background-color: #D0E4E5;
  border: 3px solid #555869;
  border-radius: 5px;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}
.plant-box:before, .plant-box:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 3px;
}
.plant-box:before {
  background-color: #C3E5D0;
  top: -6px;
  border-radius: 5px 5px 0 0;
  opacity: 0.9;
}
.plant-box:after {
  background-color: #E0E0E0;
  bottom: -6px;
  border-radius: 0 0 5px 5px;
}

.flower {
  width: 20px;
  height: 32px;
  border: 3px solid #555869;
  border-radius: 50%;
  position: absolute;
}
.flower:after, .flower:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 26px;
  border: 3px solid #555869;
  border-radius: 50%;
  z-index: -1;
}
.flower:after {
  left: -10px;
  bottom: -4px;
  transform: rotate(-25deg);
  -webkit-animation: flower-left 1s infinite linear;
          animation: flower-left 1s infinite linear;
}
.flower:before {
  right: -10px;
  bottom: -4px;
  transform: rotate(25deg);
  -webkit-animation: flower-right 1s infinite linear;
          animation: flower-right 1s infinite linear;
}
.flower.-flower1 {
  background-color: #F7D2C9;
  left: 50px;
  top: 70px;
}
.flower.-flower2 {
  background-color: #87BDC1;
  top: 80px;
  left: 100px;
}
.flower.-flower3 {
  background-color: #D8778A;
  top: 55px;
  left: 150px;
}

.plant {
  width: 3px;
  height: 75px;
  background-color: #555869;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.plant:after {
  content: "";
  position: absolute;
  width: 14px;
  height: 7px;
  border: 3px solid #555869;
  border-radius: 50%;
  top: 20px;
  -webkit-animation: plant 2s infinite linear;
          animation: plant 2s infinite linear;
}

@-webkit-keyframes flower-left {
  0% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(-30deg) scale(0.95);
  }
  100% {
    transform: rotate(-25deg);
  }
}

@keyframes flower-left {
  0% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(-30deg) scale(0.95);
  }
  100% {
    transform: rotate(-25deg);
  }
}
@-webkit-keyframes flower-right {
  0% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(30deg) scale(0.95);
  }
  100% {
    transform: rotate(25deg);
  }
}
@keyframes flower-right {
  0% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(30deg) scale(0.95);
  }
  100% {
    transform: rotate(25deg);
  }
}
@-webkit-keyframes plant {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(8deg);
    transform-origin: left;
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-8deg);
    transform-origin: left;
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes plant {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(8deg);
    transform-origin: left;
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-8deg);
    transform-origin: left;
  }
  100% {
    transform: rotate(0);
  }
}
audio {
  display: none;
}